<section>
  <div class="my-2 mx-auto py-3 px-2 border rounded-lg bg-white">
    <h2 class="p text-center">Checkout Form - Using Reactive Forms</h2>
    <hr>
    <form [formGroup]="checkoutForm" (ngSubmit)="postData()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          name="emailAddress" required formControlName="emailAddress">
        <small id="emailHelp" class="form-text text-muted"
          *ngIf="checkoutForm.get('emailAddress').touched && checkoutForm.get('emailAddress').hasError('required')">
          Email is required.
        </small>
        <small id="emailHelp" class="form-text text-muted"
          *ngIf="checkoutForm.get('emailAddress').touched && checkoutForm.get('emailAddress').hasError('email')">
          Enter a valid email. e.g foo@xyz.com
        </small>
      </div>
      <div class="form-group">
        <label for="exampleInputQuantity1">Quantity</label>
        <input type="text" class="form-control" id="exampleInputQuantity1" name="quantity" formControlName="quantity"
          required>
        <small id="quantityHelp" class="form-text text-muted"
          *ngIf="checkoutForm.get('quantity').touched && checkoutForm.get('quantity').hasError('required')">
          Quantity is required.
        </small>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="tos" formControlName="tos" required>
        <label class="form-check-label" for="exampleCheck1">Agree to TOS</label>
        <small id="tosHelp" class="form-text text-muted"
          *ngIf="checkoutForm.get('tos').touched && checkoutForm.get('tos').hasError('required')">
          TOS opt-in is required.
        </small>
      </div>

      <hr>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Items</label>
        <div class="col-sm-10" formArrayName="items">
          <div *ngFor="let item of checkoutForm.controls.items['controls']; let i=index" [formGroupName]="i">
            <input type="text" formControlName="itemId" id="task{{i}}" class="form-control">
            <input type="text" formControlName="itemName" id="task{{i}}" class="form-control">
            <input type="text" formControlName="itemDesc" id="task{{i}}" class="form-control">
            <input type="checkbox" formControlName="itemDone"> Mark as Done
            <!-- <label class="form-check-label" for="itemDone">Mark as Done</label> -->
            <hr>
            <button type="submit" class="btn btn-link" (click)="removeItem(i)">Remove Item</button>
            <hr>
          </div>
        </div>
      </div>
      <div class="btn-group w-100" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-link" (click)="resetForm()">Clear</button>
        <button type="submit" class="btn btn-link" (click)="addNewItem()">Add Item</button>
        <button type="submit" class="btn btn-success w-50" [disabled]="!checkoutForm.valid">Checkout</button>
      </div>
    </form>
  </div>
</section>